#user-dp-content {
    min-width: 250px;
    padding: 14px 14px 0;
    overflow: hidden;
    background-color: #D8D8D8;
}

#user-dp-content .bottom {
    background-color: #FFFFFF;
    border-top: 1px solid #DDDDDD;
    clear: both;
    padding: 14px;
}

#user-dp-content button {
    width: 100%;
    margin-bottom: 5px;
}

.green {
    color: #008000;
}
