<nav class="navbar navbar-inverse" ng-controller="NavbarController as vm">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">PAROTA</a>
            </div>

            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li ng-show="vm.isAuthenticated()"><a href="/create-job">New job</a></li>
                    <li ng-show="vm.isAuthenticated()"><a href="/show-jobs">Show jobs</a></li>
                    <li ng-show="vm.isAdmin()"><a href="/admin">Admin</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user" ng-class="{ green : vm.isAuthenticated() }"></span></a>
                        <ul class="dropdown-menu" id="user-dp-content">
                            <div class="row">
                                <div class="col-md-12">
                                    <button class="btn btn-success" ng-if="!vm.isAuthenticated()" ng-click="vm.goToLoginPage()">Sign in</button>
                                    <div ng-if="vm.isAuthenticated()">
                                        <p>Hello, {{ vm.userData().firstname }} {{ vm.userData().lastname }}</p>
                                        <a class="text-center" href="/profile">Go to profile</a>
                                        <button class="btn btn-success" ng-click="vm.logout()">Log out</button>
                                    </div>
                                </div>
                                <div class="bottom text-center" ng-if="!vm.isAuthenticated()">
                                    Don't have an account ? <a href="/register"><b>Join us</b></a>
                                </div>
                            </div>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>