<div class="main-register">
    <form class="form-horizontal" name="registerForm" novalidate>

        <!-- Email -->
        <div class="form-group">
            <label for="email" class="cols-sm-2 control-label">Email</label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                    <input type="email" class="form-control" name="email" id="email" ng-model="vm.registerForm.email" placeholder="Email" required/>
                </div>

                 <div class="error-message" ng-messages="registerForm.email.$error" ng-if="registerForm.$submitted || registerForm.email.$dirty">
                    <span ng-message="required">This field is required</span>
                    <span ng-message="email">Your email address is invalid</span>
                 </div>
            </div>
        </div>

        <!-- First Name -->
        <div class="form-group">
            <label for="firstname" class="cols-sm-2 control-label">First Name</label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" name="firstname" id="firstname" ng-model="vm.registerForm.firstname" placeholder="First Name" required/>
                </div>

                <div class="error-message" ng-messages="registerForm.firstname.$error" ng-if="registerForm.$submitted || registerForm.firstname.$dirty">
                    <span ng-message="required">This field is required</span>
                 </div>
            </div>
        </div>

        <!-- Last Name -->
        <div class="form-group">
            <label for="lastname" class="cols-sm-2 control-label">Last Name</label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" name="lastname" id="lastname" ng-model="vm.registerForm.lastname" placeholder="Last Name" required/>
                </div>

                <div class="error-message" ng-messages="registerForm.lastname.$error" ng-if="registerForm.$submitted || registerForm.lastname.$dirty">
                    <span ng-message="required">This field is required</span>
                 </div>
            </div>
        </div>

        <!-- Password -->
        <div class="form-group">
            <label for="password" class="cols-sm-2 control-label">Password</label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                    <input type="password" class="form-control" name="password" id="password" ng-model="vm.registerForm.password" placeholder="Password" ng-minlength="6" ng-maxlength="32" required/>
                </div>

                <div class="error-message" ng-messages="registerForm.password.$error" ng-if="registerForm.$submitted || registerForm.password.$dirty">
                    <span ng-message="required">This field is required</span>
                    <span ng-message="minlength">Password should be minimum 6 characters</span>
                    <span ng-message="maxlength">Password shouldn't be longer than 32 characters</span>
                </div>
            </div>
        </div>

        <!-- Confirm password -->
        <div class="form-group">
            <label for="confirm" class="cols-sm-2 control-label">Confirm password</label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                    <input type="password" class="form-control" name="confirm" id="confirm" ng-model="vm.registerForm.confirmedPass" placeholder="Confirm password" ng-minlength="6" ng-maxlength="32" required/>
                </div>

                <div class="error-message" ng-messages="registerForm.confirm.$error" ng-if="registerForm.$submitted || registerForm.confirm.$dirty">
                    <span ng-message="required">This field is required</span>
                    <span ng-message="minlength">Password should be minimum 6 characters</span>
                    <span ng-message="maxlength">Password shouldn't be longer than 32 characters</span>
                </div>
            </div>
        </div>

        <!-- Register button -->
        <div class="form-group">
            <input type="submit" class="btn btn-primary btn-lg btn-block" ng-click="vm.register(registerForm.$valid)" value="Register" />
        </div>
    </form>
</div>
