<div id="logo">
    <img src="static/img/logo.png" />
</div>

<div class="main-page-content">
  <p class="text-center">
    PAROTA is a parallel timetable generation tool. Get started by creating an account or signing in.
  </p>
</div>
