.new-job {
    background-color: #dbdbdb;
    width: 100%;
    padding: 10px;
    margin: 10px;
}

.new-job input:invalid {
    border: 1.5px solid #890a0a;
}

.new-job input.algorithm {
    margin: 10px 5px 10px 50px;
}

.new-job button.btn-add-job {
    text-align: center;
    margin: 10px 0px 30px 40%;
    padding: 10px 20px 10px 20px;
    font-size: 16px;
    background-color: #ababab;
    color: #2b2b2b;
    box-shadow: 1px 1px 5px #999999;
}

.new-job button.btn-add-job:hover{
    background-color: #8b8b8b;
}

.new-job button.btn-add-job i{
    margin: 0px 5px 0px 5px;
}

#excelfile {
    height: auto !important;
}