<div class="new-job">
    <form name="newJobForm" ng-submit="vm.addNewJob()">

        <!-- Job name -->
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Name" ng-model="vm.job.name" required>
        </div>

        <!-- Input data (file) -->
        <div class="form-group">
            <label for="excelfile">Excel File:</label>
            <input type="file" class="form-control" id="excelfile" ngf-select ng-model="vm.excelFile" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" required>
        </div>

        <!-- Number of workers -->
        <!--<div class="form-group">
            <label for="workers">Number of workers</label>
            <input type="number" min="1" max="100" class="form-control" id="workers" ng-model="vm.job.workers">
        </div>-->

        <!-- Algorithm -->
        <fieldset class="form-group">
            <label>Algorithm</label>
            <div class="form-check">
                <label class="form-check-label" ng-repeat="a in vm.job.algorithms">
                    <input type="radio" class="form-check-input algorithm" name="algorithm" id="a.algorithm" ng-value="a.algorithm"
                           ng-model="vm.job.algorithm" ng-checked="a.algorithm === vm.job.algorithm" ng-disabled="a.algorithm !== 'HEU'" required>
                    <span> {{ a.text }} </span>
                </label>
            </div>
        </fieldset>

        <!-- Simulated annealing - Cooling function -->
        <div class="form-group" ng-show="vm.job.algorithm === 'SA'">
            <label for="cooling">Cooling function</label>
            <select class="form-control" id="cooling" ng-options="f as f for f in vm.job.functions_sa"
                    ng-value="f" ng-model="vm.job.cooling">
                <option ></option>
            </select>
        </div>

        <!-- Simulated annealing - Neighbourhood -->
        <div class="form-group" ng-show="vm.job.algorithm === 'SA'">
            <label for="neighbourhood">Size of neighbourhood</label>
            <select class="form-control" id="neighbourhood" ng-options="n as n for n in vm.job.neighbours_sizes"
                    ng-value="n" ng-model="vm.job.neighbourhood">
                <option ></option>
            </select>
        </div>

        <!-- Number of iterations -->
        <div class="form-group" ng-show="vm.job.algorithm !== 'HEU'">
            <label for="iterations">Algorithm iterations</label>
            <input type="number" min="1" max="10000000" class="form-control" id="iterations" ng-model="vm.job.iterations">
        </div>

        <!-- Submit button -->
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-add-job" ng-disable="newJobForm.$invalid"> Schedule new job
                <i class="fa fa-hourglass-1" aria-hidden="true"></i>
            </button>
        </div>
    </form>
</div>