.job {
    background-color: #222;
    width: 100%;
    padding: 10px;
    margin: 10px;
    box-shadow: 1px 1px 5px #999999;
}

.job .job-bar {
    width: 100%;
    margin: 20px 5px 0px 5px;
    background-color: #222;
    border: none;
}

.job .job-bar .job-bar-item {
    padding: 5px 30px;
    margin: 0px;
    border: none;
    font-size: 24px;
    font-weight: bold;
}

.job button.active-tab {
    background-color: #dbdbdb;
    color: #222;
}

.job button.non-active-tab {
    background-color: #222;
    color: #dbdbdb;
}

.job button.non-active-tab:hover {
    color: #444;
}

.job .job-card {
    font-size: 20px;
    background-color: #dbdbdb;
    margin: 0px 5px 20px 5px;
}

.job .job-card table {
    width: 100%;
    background-color: #dbdbdb;
    word-break: break-all;
    word-wrap: break-word;
}

.job .job-card table tr{
    margin: 5px 0px 5px 20px;
    display: flex;
}

.job .job-card table tr:first-child{
    margin-top: 30px;
}

.job .job-card table tr:last-child{
    margin-bottom: 30px;
}

.job .job-card table td:first-child{
    font-weight: bold;
    padding-left: 20px;
    width: 30%;
}

.job .job-card table td:last-child{
    width: 70%;
}

.job .job-card table td .users-options{
    border: none;
    color: #222;
    margin: 0px;
}

.job .job-card i{
    font-size: 1.2em;
}

.job .job-card i:hover{
    color: #555;
}

.job .job-card ul {
    margin: 0px 0px 0px 20px;
    padding: 20px;
    list-style: none;
}

.job .job-card li{
    margin-left: 40px;
}

.job .job-card li:first-child{
    margin-top: 20px;
}

.job .job-card button.btn-download {
    text-align: center;
    padding: 10px 20px 10px 20px;
    font-size: 16px;
    background-color: #ababab;
    color: #2b2b2b;
    box-shadow: 1px 1px 5px #999999;
}

.job .job-card button.btn-download:hover {
    color: #555;
}

#job-progress {
    margin-right: 10%;
}

.progress {
    margin-bottom: auto !important;
}

