<div class="job">
    <div class="job-bar">
        <button class="job-bar-item active-tab">Details</button>
    </div>

    <div id="details" class="job-card">
        <table>
            <!-- Job name -->
            <tr>
                <td>Name</td>
                <td> {{ vm.job.job_name }} </td>
            </tr>

            <!-- Status -->
            <tr>
                <td>Status</td>
                <td> {{ vm.job.driverState }} </td>
            </tr>

            <!-- Progress -->
            <tr>
                <td>Progress</td>
                <td>
                    <div id="job-progress" class="progress" ng-class="{'progress-striped active' : vm.job.progress.value !== 100}">
                        <div class="progress-bar active" role="progressbar"
                             aria-valuenow="{{vm.job.progress.value}}" aria-valuemin="0" aria-valuemax="100"
                             style="width: {{vm.job.progress.value}}%">
                            {{vm.job.progress.value}}%
                        </div>
                    </div>
                </td>
            </tr>

            <!-- Owner -->
            <tr>
                <td>Owner</td>
                <td> {{ vm.job.user.firstname }} {{ vm.job.user.lastname }} </td>
            </tr>

            <!-- Creation time -->
            <tr>
                <td>Creation Time</td>
                <td> {{ vm.job.date }} </td>
            </tr>

            <!-- Number of workers -->
            <tr>
                <td>Number of workers</td>
                <td> {{ vm.job.cluster_config.workers }} </td>
            </tr>

            <!-- Algorithm -->
            <tr>
                <td>Algorithm</td>
                <td> {{ vm.job.algorithm_config.algorithm === "G" ? "Genetic" : "Simulated Annealing" }} </td>
            </tr>

            <!-- User options -->
            <tr>
                <td>Options provided by user</td>
                <td>
                    <div class="users-options" ng-click="vm.toggleUserOptions()">
                        <span class="fa" ng-class="vm.isCollapsed ? 'fa-angle-double-down' : 'fa-angle-double-up'"></span>
                    </div>
                    <div ng-hide="vm.isCollapsed">
                        {{ vm.job.algorithm_config.specification}}
                    </div>
                </td>
            </tr>

            <!-- Download -->
            <tr>
                <td></td>
                <td>
                    <button class="btn btn-primary btn-download" ng-disabled="!vm.isDataReady()" ng-click="vm.downloadResultFile()">
                        Download
                        <i class="fa fa-download"></i>
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>