html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 30px;
  background-color: #718693 !important;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
}

.footer p {
  font-weight: bold;
}

.main-page-content {
  width: 100%;
}

#logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}