.show-jobs {
    background-color: #dbdbdb;
    width: 100%;
    padding: 10px;
    margin: 10px;
}

.show-jobs .filled-cells {
    background-color: #ebebeb !important;
    text-align: center;
}

.show-jobs .ng-table-pagination {
    display: flex !important;
    justify-content: center !important;
}

.show-jobs .details-container {
    display: flex;
    justify-content: center;
}

.show-jobs .details a {
    cursor: pointer;
    margin: 0 5px 0 5px;
    color: #2a2a2a;
}

.show-jobs .details a:hover {
    color: #4e4e4e;
}

.show-jobs .details .fa {
    font-size: 1.2em;
}