<div class="show-jobs">
    <table ng-table="vm.jobsTable" show-filter="true" class="table table-bordered filled-cells">
        <tr ng-repeat="job in $data">
            <td title="'Name'" filter="{name : 'text'}" sortable="'name'">{{job.job_name}}</td>
            <td title="'Algorithm'" filter="{algorithm : 'text'}" sortable="'algorithm'">{{job.algorithm_config.algorithm}}</td>
            <td title="'Owner'" filter="{owner : 'text'}" sortable="'owner'">{{job.owner}}</td>
            <td class="details" title="'Details'">
                <div class="details-container">
                    <a href="/job/{{job._id.$oid}}"><i class="fa fa-info-circle"></i></a>
                </div>
            </td>
        </tr>
    </table>
</div>